* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}
 body{
   background-color: #f4f4f4;
 }

img {
  max-width:100%;
}

.bg-purple {
background-color:#6b2264;
color:white;
transition:ease-in-out 0.4s;
}

.bg-purple:hover {
  background-color:#6b2264;
  color:#fec200;
  }

.bg-green-bh{
background-color:#0d7d3f;
color:#ffffff;
}

.bg-green-bh:hover{
  background-color:#0d7d3f;
  color:#fec200;
  }

[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

.navbar a{
  font-size:12px; 
  color:black !important;
  }
a:hover {
text-decoration: none;
}
/* [type="file"] + label {
  background-color: #6b2264;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 10px 4rem;
  transition:0.3s ease;
}

[type="file"]:focus + label,
[type="file"] + label:hover {
    background-color: #fec200;
}

[type="file"]:focus + label {
  outline: 1px dotted #000;
} */